/************* IMPOSTAZIONI GENERALI *************/
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-flex {
    display: flex;
    justify-content: space-between;
}

.border-card {
    border-radius: 25px;
}

.pdg-container {
    padding: 2rem 0;
}

.mrg-container {
    margin: 0 auto;
}

section:nth-child(even) {
    background-color: rgba(151,146,228,255);
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

h2 {
    color: rgba(0,132,253,255);
    padding-bottom: 1rem;
}

h3 {
    text-align: center;
    padding-bottom: 1rem;
}

p {
    padding: 1rem 0;
}

.btn {
    border-radius: 25px;
    display: inline-block;
    background-color: rgba(0,132,253,255);
    text-decoration: none;
    color: rgba(206,231,254,255);
    margin: 1rem 0;
    text-align: center;
    padding: 0.5rem 3rem;
    font-weight: 1000;
}

/************* DEBUG *************/

/************* IMPOSTAZIONI SPECIFICHE *************/
/************* HEADER *************/
nav {
    background-color: rgba(0,132,253,255);
}

.nav-menù {
    display: none;
}

.nav-menù > a {
    color: lightblue;
    text-decoration: none;
    margin: 0 1rem;
}

.nav-menù > .btn {
    color: lightblue;
    background-color: white;
    padding: 0.5rem 1rem;
}

header > .container-flex {
    align-items: center;
}

.logo,
.menù {
    padding: 1rem;
}

.img-logo {
    width: 70%;
}

.fa-bars {
    font-size: 2rem;
}

/************* MAIN *************/
/************* RISORSE DEL PACCHETTO *************/
.resource-package {
    width: 90%;
}

.card {
    background-color: rgba(181,221,255,255);
    padding: 2rem 2rem 0 2rem;
    margin-bottom: 1rem;
}

.first-card > .btn {
    display: inline-block;
    text-align: center;
    padding: 0.5rem 3rem;
    font-weight: 1000;
}

.first-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
}

.resource-package > div {
    text-align: center;
}

img {
    width: 100%;
}

.fa-apple {
    color: white;
    margin-right: 0.5rem;
}

.card > .fa-solid {
    font-size: 5rem;
    color: rgba(0,132,253,255);
    display: block;
    text-align: center;
    padding-bottom: 1rem;
}

.card > h2 {
    text-align: center;
}

/************* STRATEGIA *************/
.strategy {
    width: 90%;
}

.strategy > .card {
    background-color: unset;
}

.strategy > .card-white {
    background-color: white;
    text-align: center;
}

.card-white > .btn {
    color: black;
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 0;
    position: relative;
}

.fa-arrow-down {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
}

.strategy h2 {
    text-align: start;
    color: white;
}

#strategy-photo-1 {
    width: 100%;
    margin-bottom: 2rem;
}

/************* CONSIGLI *************/
.advise {
    width: 90%;
    text-align: center;
}

.advise > .card {
    padding: 1rem;
}

.testimonial-card > img {
    display: block;
    width: 6rem;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 0 auto;
}

.name > p {
    font-size: 0.8rem;   
}

/************* BENEFIT *************/
.benefit {
    width: 90%;
}

.benefit > h1 {
    color: white;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.benefit > .card {
    background-color: white;
}

.number {
    font-size: 3rem;
}

.benefit h2 {
    text-align: start;
}

.benefit .btn {
    display: inline-block;
    text-align: center;
    padding: 0.5rem 3rem;
    font-weight: 1000;
}

/************* ABOUT US *************/
.about-us {
    width: 90%;
}

.info > h1 {
    text-align: start;
    color: rgba(0,132,253,255);
    font-size: 2rem;
}

.who > .btn {
    padding: 0.5rem;
    font-size: 0.7rem;
}

.about-us-img {
    width: 10rem;
    position: relative;
}

.fa-quote-left {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3.5rem;
    color: rgba(0,132,253,255);
}

.about-us-img > img {
    display: block;
    width: 10rem;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-bottom: 2rem;
}

/************* INFO-DOWNLOAD *************/
.info-download {
    width: 90%;
    text-align: center;
}

.info-download > h3 {
    color: rgba(195,192,239,255);
}

.info-download > h2 {
    color: white;
}

.info-download > h1 {
    font-size: 3rem;
    color: rgba(253,193,95,255);
}

.info-download > .btn {
    background-color: white;
    color: rgba(0,132,253,255);
}

.info-download > address,
.info-download a {
    color: white;
}

/************* FOOTER *************/
footer {
    background-color: rgba(51,51,51,255);
    text-align: center;
    color: white;
}

.end-page {
    width: 90%;   
}


/************* MEDIA QUERIES *************/

@media screen and (min-width: 480px) {
    /* body {
        background-color: yellow;
    } */

    .info,
    .end-page {
        width: 80%;
    }

    /************* RISORSE DEL PACCHETTO *************/
    .resource-package {
        display: grid;
        grid-template-columns: repeat(3, calc(100% / 3 - 0.7rem));
        gap: 1rem;
    }

    .first-card {
        grid-column: 1/3;
    }

    .first-card > div {
        text-align: unset;
    }

    .resource-package > .card {
        margin-bottom: 0;
    }

    /************* CONSIGLI *************/
    .advise > .card {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /************* BENEFIT *************/
    .benefit {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .benefit > h1 {
        flex-basis: 100%;
    }

    .benefit > .card {
        width: calc(50% - 1rem);
    }

    /************* ABOUT US *************/
    .about-us {
        display: flex;
        justify-content: space-between;
    }

    /************* INFO *************/
    .info {
        width: 60%;
    }

    .who {
        width: 40%;
    }   
}

@media screen and (min-width: 760px) {
    /* body {
        background-color: red;
    } */
    
    .resource-package,
    .strategy,
    .advise,
    .benefit,
    .about-us {
        max-width: 1100px;
    }

    .info-download,
    .end-page {
        max-width: 600px;
    }

    /************* HEADER *************/
    header {
        background-color: rgba(0,132,253,255);
    }
    
    nav {
        max-width: 1100px;
        margin: 0 auto;
    }
    
    .nav-menù {
        display: inline-block;
        padding: 1rem;
    }

    .menù {
        display: none;
    }

    /************* RISORSE DEL PACCHETTO *************/
    .first-card {
        display: flex;
        flex-direction: row;
    }

    .text-first-card {
        width: 50%;
    } 

    .img-box {
        align-self: flex-end;
        max-width: 18rem;
    }

    .img-box > img {
        width: 100%;
    }

    /************* CONSIGLI *************/
    .testimonial-card {
        width: 70%;
        margin: 1rem auto;
    }

    /************* STRATEGY *************/
    .strategy {
        display: flex;
    }
    
    .card-white {
        align-self: flex-end;
    }

    /************* BENEFICI *************/
    .benefit > .card {
        width: calc(100% / 3 - 1rem);
    }

    /************* ABOUT US *************/
    .info > h1 {
        font-size: 4rem;
    }

    .info > p {
        font-size: 1.5rem;
    }

    .info {
        width: 75%;
    }

    .who {
        width: 25%;
        text-align: center;
    }
    
    .who > img {
        margin: 1rem auto;
    }

    /************* INFO-DOWNLOAD *************/

    .info-download > h2 {
        font-size: 3rem;
    }

    .info-download > h1 {
        font-size: 5rem;
    }

    .info-download > p {
        margin: 1rem 2rem;
    }
}   

/************* BACKGROUND DA TOGLIERE *************/
/* .info {
    background-color: green;
}
.who {
    background-color: blue;
}
.end-page {
    background-color: white;
} */