/************* IMPOSTAZIONI GENERALI *************/
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-flex {
    display: flex;
    justify-content: space-between;
}

.border-card {
    border-radius: 10%;
}

.pdg-container {
    padding: 2rem 0;
}

.mrg-container {
    margin: 0 auto;
}

section:nth-child(even) {
    /* background-color: rgba(151,146,228,255); */
    background-color: red;
}

.btn {
    border-radius: 25px;
    display: inline-block;
    padding: 0.5rem;
    background-color: rgba(0,132,253,255);
    text-decoration: none;
    color: rgba(206,231,254,255);
}

/************* DEBUG *************/

/* .dbg-height section {
    height: 30rem;
    background-color: green;
} */

/************* IMPOSTAZIONI SPECIFICHE *************/

/************* HEADER *************/

nav {
    background-color: rgba(0,132,253,255);
}

.nav-menù {
    display: none;
}

.logo,
.menù {
    padding: 1rem;
}

/************* MAIN *************/
/************* RISORSE DEL PACCHETTO *************/
.resource-package {
    width: 90%;
}

.card {
    background-color: rgba(181,221,255,255);
    padding: 0 1rem;
    margin-bottom: 1rem;
}

/************* STRATEGIA *************/
.strategy {
    width: 90%;
}

.strategy > .card {
    background-color: unset;
}

.strategy > .card-white {
    background-color: white;
}

/************* CONSIGLI *************/
.advise {
    width: 90%;
}

/************* BENEFIT *************/
.benefit {
    width: 90%;
}

.benefit > .card {
    background-color: white;
}

/************* ABOUT US *************/
.about-us {
    width: 90%;
}

/************* INFO *************/
.info {
    width: 90%;
}

/************* FOOTER *************/
footer {
    background-color: rgba(51,51,51,255);
}

.end-page {
    width: 90%;
}


/************* MEDIA QUERIES *************/

@media screen and (min-width: 480px) {
    body {
        background-color: yellow;
    }

    .info,
    .end-page {
        width: 80%;
    }

    /************* RISORSE DEL PACCHETTO *************/
    .resource-package {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .first-card {
        grid-column: 1/3;
    }

    .resource-package > .card {
        margin-bottom: 0;
    }

    /************* CONSIGLI *************/
    .advise > .card {
        display: flex;
        gap: 1rem;
    }

    /************* BENEFIT *************/
    .benefit {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .benefit > h1 {
        flex-basis: 100%;
    }

    .benefit > .card {
        width: calc(50% - 1rem);
    }

    /************* ABOUT US *************/
    .about-us {
        display: flex;
        justify-content: space-between;
    }

    /************* INFO *************/
    

    /************* FOOTER *************/
    
}

@media screen and (min-width: 760px) {
    body {
        background-color: red;
    }
    
    .resource-package,
    .strategy,
    .advise,
    .benefit,
    .about-us {
        max-width: 1200px;
    }

    .info,
    .end-page {
        max-width: 600px;
    }

    /************* HEADER *************/
    header {
        background-color: rgba(0,132,253,255);
    }
    
    nav {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .nav-menù {
        display: inline-block;
        padding: 1rem;
    }

    .menù {
        display: none;
    }

    /************* RISORSE DEL PACCHETTO *************/

    /************* STRATEGY *************/
    .strategy {
        display: flex;
    }
    
    .card-white {
        align-self: flex-end;
    }

    /************* BENEFICI *************/
    .benefit > .card {
        width: calc(100% / 3 - 1rem);
    
    }

    .about-us {
        justify-content: center;
    }
}













/************* BACKGROUND DA TOGLIERE *************/
.info {
    background-color: green;
}
.who {
    background-color: blue;
}
.end-page {
    background-color: white;
}